@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');


.App {
  font-family: 'Quicksand', sans-serif !important;
  text-align: center;
}


.card-10{
    width: 270px !important;
    display: flex;
    /* align-content: center; */
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px;
}

.row{
  justify-content: center ;
  text-align: center;
}

img{
    width: 200px;
    height: 220px;
    object-fit: contain;
}

.bg-info-10{
  position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(4.5px);
    border-bottom: 1px solid gray;
    background-color: rgba(255, 255, 255) !important;
    
}

.active{
  background-color: rgba(255, 255, 255, .8) !important;
}

.row{
  margin-top: 12px;
}

.mt-5{
  margin-top: 5rem!important;
}